*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: default; 
}
body{
    background-color:black ;
}
nav a:hover{
    color:aqua;
}
nav a{
    text-decoration: none;
    color:aliceblue;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
nav {
    background-color: rgba(53, 3, 3);
}
.papitolindo{
    position: static;
    display: flex;
    background-color: rgba(53, 3, 3);
    list-style: none;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    justify-content:space-evenly;  
    margin-top: 20px;
}
.logo{
    width: 80px;
    height: 80px;  
}
.titulo{
    background-size: auto;
    padding: 20px 200px 20px 200px;
}
.titulo h1{
    background-color: rgba(250, 235, 215, 0.8);
    text-align: center;
    border-radius: 2rem;
    border-style: solid;
    border-color: darkred;
}
.titulo p{
border: black;
text-align: center;
font-size: 50px;
text-justify:initial;
}

.usomed{
   width: 700px;
   height:400px;
}
.equip{
    width: 700px;
    height:400px;
}
.med{
    width: 700px;
    height:400px;
}
.FORMULARIO{
    color: white;
    font-size: 20px;
    text-align: left; 
    background-color: rgba(0, 0, 0, 0.8); margin: 0px 600px 100px 600px;
}
.FORMULARIO legend{
    text-align: center;
}
.arriba li, .arriba a{
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: black; opacity: 0.9;
    list-style: none;
}
.section1{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    column-gap: 20px;
    font-size: 20px;
}
.section1 .MISION, .VISION, .VALORES{
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    padding-top: 30px;
}
.MISION{
    margin-bottom: 80px;
}
.VISION{
    margin-top:40px;
    margin-bottom: 40px;
}
.VALORES{
    margin-top:80px;
    margin-bottom: 20px;
}
.buscar{
    text-align: center;
    background-color:black; opacity: 0.9;margin: 0px 700px 1000px 600px;
    color: white
}
.busqueda2{
    font-size: 40px;
}
.equipos{
    margin-left: 600px;
}
.LOGISTICA{
    display: grid;
    grid-template-columns: 400px 400px 400px 400PX;
    grid-template-rows: 800px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 5px;
    column-gap: 20px;
    font-size: 20px;
}
.TRANSPORTE, .CAPACITACIONES, .REUNIONES, .AYUDASHUMANITARIAS{
    text-align: center;
    background-color: aqua;
    padding-top: 30px;
}
.LOGISTICA img{
    width: 300px;
    height: 200px;
}
